<h2 class="ui center aligned header">
  Welcome to MessageMe <i class="inline-block red fitted coffee icon"></i> - a Chat App
</h2>
<h3 class="ui center aligned header">
  <i class="blue power off icon"></i>
  Let's get started...
</h3>

<!--  1.  A session does not involve the creation of a resource [object] like an user so
          instead of passing form_with the argument "model", we use "scope" of "session"
      2.  In this case, we need to give Rails the url to use to send the form's data-->
<%= form_with(scope: :session, url: login_path, local: true) do |f| %>

  <div class="ui eight column centered grid">
    <div class="six wide column">
      <div class="ui raised segments">
        <div class="ui segment">
          <h4 class="ui left aligned header">
            Enter your username and password
          </h4>
        </div>
        <div class="ui basic segments">

          <div class="ui left aligned basic segment">
            <%= f.label "Username:" %>
            <div class="ui fluid left icon input">
              <i class="user icon"></i>
              <%= f.text_field :username,  placeholder: "enter your username" %>
            </div>
          </div>

          <div class="ui left aligned basic segment">
            <%= f.label "Password:" %>
            <div class="ui fluid left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password %>
            </div>
          </div>

          <div class="ui center aligned basic segment">
            <%= f.submit "Log in", class: "ui red button" %>
          </div>

        </div>

      </div>
   </div>
  </div>

<% end %>


