<h4 class="ui center aligned icon header">
  <i class="circular red coffee icon"></i>
  Say something !
</h4>

<div class="ui stackable two column grid">

  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">

      <div class="content">
        <div class="ui feed" id="message-container">

          <h4 class="ui horizontal divider header">
            Messages
          </h4>

          <% @messages.each do |message| %>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <em><%= message.user.username %>:  </em>
                  <%= message.body %>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>

      <%= form_with(model: @message, method: :post, url: message_path, remote: true,
                    class: "ui reply form") do |f| %>
        <div class="extra content">

            <div class="field">
              <div class="ui fluid icon">
                <div class="ui fluid icon input">
                  <%= f.text_field :body, placeholder: 'Enter a message...' %>
                  <%= f.button '<i class="active bordered inverted red edit icon"></i>'.html_safe %>
                </div>
              </div>
            </div>

        </div>
      <% end %>

    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical fluid menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
