<h2 class="ui center aligned header">
  Welcome to MessageMe <i class="inline-block red fitted coffee icon"></i> - a Chat App
</h2>
<h3 class="ui center aligned header">
  <i class="blue power off icon"></i>
  Let's re-invent yourself...
</h3>
<br>


<%= form_with(model: @user, local: true, url: user_path) do |f| %>
  <div class="ui eight column centered grid">
    <div class="six wide column">
      <div class="ui raised segments">
        <div class="ui segment">
          <h4 class="ui left aligned header">
            Who are you?
          </h4>
        </div>
        <div class="ui basic segments">

          <div class="ui left aligned basic segment">
            <%= f.label "Username:" %>
            <div class="ui fluid left icon input">
              <i class="user icon"></i>
              <%= f.text_field :username,  placeholder: "enter a username" %>
            </div>
          </div>

          <div class="ui left aligned basic segment">
            <%= f.label "Password:" %>
            <div class="ui fluid left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password %>
            </div>
          </div>

          <div class="ui center aligned basic segment">
            <%= f.submit "Update", class: "ui red button" %>
            <%= link_to "Cancel", chatroom_path, class: "ui red basic button" %>
          </div>

        </div>

      </div>
   </div>
  </div>

<% end %>
