<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MessageMe</title>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render 'layouts/navbar' %>

    <div class="ui container">
      <div class="ui two column centered grid">
        <div class="column">
          <%= render 'layouts/messages' %>
        </div>
      </div>

      <%= yield %>

    </div>

  </body>
</html>
